{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('node_modules/security-css/register.css') }}" rel="stylesheet">

{% endblock %}

{% block body %}

    <section>
        <h1 class="text-center text-white">Page d'incription  </h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-img-left d-none d-md-flex">
                            <!-- Background image for card set in CSS! -->
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">Veuillez renseigner vos infos</h5>

                            {{ form_start(form) }}

                                <div class="form-label-group">
                                    {{ form_row(form.login, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Votre pseudo...', 'required' : 'required' }}) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(form.firstName, {'label': 'Prénom', 'attr': { 'class': 'form-control', 'placeholder': 'Votre prénom ...', 'required': 'required' }}) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(form.lastName, {'label': 'Nom', 'attr': { 'class': 'form-control', 'placeholder': 'Votre nom de famille ...', 'required': 'required' }}) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(form.email, {'label': 'Email', 'attr': { 'class': 'form-control', 'placeholder': 'Votre email ...', 'required': 'required' }}) }}
                                </div>
                                <div class="form-label-group">
                                    {{ form_row(form.profileImage, {'label': 'Image de profil', 'attr': { 'class': 'form-control' }}) }}
                                </div>

                                <hr>

                                <div class="form-label-group">
                                    {{ form_row(form.password, {'label': 'Mot de passe', 'attr': { 'class': 'form-control', 'placeholder': 'Votre mot de passe ...', 'required': 'required' }}) }}
                                </div>

                                <div class="form-label-group">
                                    {{ form_row(form.confirmPassword, {'label': 'Confirmer le mot de passe', 'attr': { 'class': 'form-control', 'placeholder': 'Confirmer votre mot de passe ...', 'required': 'required' }}) }}
                                </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                                <a class="d-block text-center mt-2 small" href="{{ path('login') }}">Sign In</a>
                                <hr class="my-4">{#
                                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
#}
                            {{ form_end(form) }}



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
