{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

  {% block header %}
      <!-- Header -->
      <section class="page-section">
          <header class="masthead">
              <div class="container">
                  <div class="intro-text">
                      <div class="intro-lead-in">Welcome To Our Studio!</div>
                      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
                  </div>
              </div>
          </header>
      </section>
  {% endblock %}

{% block body %}

    <section class="page-section">
        <div class="container">
            <h2 class="text-center mb-5">
                Bienvenue sur l' annuaire Snowtricks !
            </h2>

            <div class="row row-cols-1 row-cols-md-2">
                {% for trick in tricks %}
                <div class="mb-4 col-md-4">
                    <div class="card">
                        <a href="{{ path('trick_show', {'slug': trick.slug }) }}">
                            <img src="{{ asset('uploads/images/') }}{{ trick.defaultImage }}" class="card-img-top" alt="{{ trick.name }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('trick_show', {'slug': trick.slug }) }}"> {{ trick.name }} </a></h5>
                            <p class="card-text">Groupe(s) :
                                {% for group in trick.groupOfTricks %}
                                    {{ group.name~' - ' }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include 'pagination/pagination.html.twig' %}

        </div>

    </section>

{% endblock %}
